body {
  background-color: aquamarine;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: navy;
  text-align: center;
}

.contact-links {
  color: white;
  display: flex;
  justify-content: center;
}

.contact-links:hover {
  color: blue;
  cursor: pointer;
}

img {
  border-radius: 20px;
}
p {
  text-align: center;
  font-size: 16px;
}

h1 {
  text-align: center;
  font-size: 48px;
}

h2 {
  text-align: center;
  font-size: 36px;
}

.email {
  text-align: center;
  font-size: 20px;
}
